html, body {
  margin: 0;
  padding: 0;
}

h1 {
  position: absolute;
  text-align: center;
  
/*   height: 0px; */
  left: 10px;
  right: 10px;
  top: 11px;
 
  font-family: 'Vidaloka';
  font-weight: 400;
  font-size: 35px;
/*   line-height: 79px; */
  
}
table {
  position: absolute;
  background-color: #F8C8DC;
  width: 50%;
  height: 40%;
  left: 25%;
  top: 30%;
  
  
}

table, tr, td {
  border-radius: 30px;
  border: 2px solid; 
  text-align: center;
  
}
/* div.c4{
  max-width:100%;
} */
/* could also just be div if it doesn't work*/
table td:hover {
  background-color: #C3B1E1;

}
td{
  font-size: 25px;
  
  font-family: "Lato";
}
canvas {
  display: block;
}
a {
  color: black;
}
a:hover {
  color: white;
}
